body{
  background-color: #fcd5ce;
  margin-left: auto;
  margin: 0px 30px 30px 30px;\
  border: 20px solid #7209b7;
  border-top: 0px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

.signup{
  text-align: center;
}
#Fn{
  width: 250px;
  height: 20px;
}

#Ln{
  width: 250px;ndor
  height: 20px;
}

#mail{
  width: 250px;
  height: 20px;
}
